#container {
    flex: 1;
    display: flex;
    border-style: solid;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#frame {
    flex: 1;
    border-style: solid;
    width: 100vw;
    max-width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

#display {
    flex: 1;
    border-style: solid;
    min-height: 52px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 8px;
    overflow-x: auto;
}

#buttons {
    flex: 1;
    gap: 8px;
    display: flex;
    flex-direction: column;
}

div.row {
    flex: 1;
    gap: 8px;
    display: flex;
    align-items: space-between;
}

div.row div {
    display: flex;
    flex: 1;
    border-style: solid;
    min-height: 52px;
    font-size: 36px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

p {
    font-size: 36px;
    margin: 0;
}